/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

/* .pu_baak, .pu_eksekutif, .pu_feeder,
.pu_kemahasiswaan, .pu_lppm, .pu_sia,
.pu_sijago, .pu_wisudawan {
  display:inline-block;
  overflow:hidden;
  background-repeat: no-repeat;
  background-image:url(sprite.png);
} */
[class*="pu_"] {
	width: 7em; height: 7em;
	display:inline-block;
	overflow:hidden;
	background-repeat: no-repeat;
	background-image:url(pu-icon.png);
}


.pu_sm {
	width: 4em; height: 4em;
}

.pu_md {
	width: 10em; height: 10em;
}

.pu_lg {
	width: 13em; height: 13em;
}

.pu_2x {
	width: 14em; height: 14em;
}

.pu_3x {
	width: 21em; height: 21em;
}

.pu_baak {background-position: 83.6565% 41.4365%; background-size: 339.073%; }
.pu_eksekutif {background-position: 0.00000% 41.4365%; background-size: 339.073%; }
.pu_feeder {background-position: 41.8283% 41.4365%; background-size: 339.073%; }
.pu_kemahasiswaan {background-position: 0.00000% 82.8729%; background-size: 339.073%; }
.pu_lppm {background-position: 41.8283% 82.8729%; background-size: 339.073%; }
.pu_sia {background-position: 0.00000% 0.00000%; background-size: 339.073%; }
.pu_sijago {background-position: 83.6565% 0.00000%; background-size: 339.073%; }
.pu_wisudawan {background-position: 41.8283% 0.00000%; background-size: 339.073%; }
